# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Envs
.venv/
venv/
ENV/

# Build artifacts
build/
dist/

# OS
.DS_Store

# Local data
*.db
*.sqlite
*.sqlite3

# Logs
*.log
